{% extends "master.html" %}
{% block title %}Home{% endblock %}
{% block head %}
<style>
        .icon_size_ {
            width:75%; 
            height:75%;
            min-height:75%;
            margin: 12.5% auto auto auto !important;
        }
</style>
{% endblock %}
{% block content %}
<div class="w-75 p-3 container-fluid">
    <!--<h3 class="list-group-item list-group-item-info"><span class="oi oi-compass"></span> Products</h3> -->
    <hr> 
    <div class="list-group-item list-group-item-secondary">
        <form method="POST" action="{% url 'index' %}">
            {% csrf_token %}
            <h5>Order by:</h5><br>
            <select name="opt" class="form-control" id="exampleFormControlSelect1">
                <option value="1">Most Love</option>
                <option value="2">Less Love</option>
                <option value="3">Newest Ideas</option>
                <option value="4">Oldest Ideas</option>
                <option value="5">Creator (A-Z)</option>
                <option value="6">Creator (Z-A)</option>
            </select>
            <br>
            <button type="submit" class="btn btn-outline-dark"><span class="oi oi-magnifying-glass"></span> Order</button>
        </form>
    </div>
    <hr> 
    {% for prod in product.all %}
    <div class="card-deck" style="margin-top:30px;">
            <div class="card">
            <div class="card-body">
                <div class="col-12 float-none">
                        <img src="{{ prod.icon }}" style="max-height:100%px; max-width:100%" class="rounded d-block" alt="A generic square placeholder image with rounded corners in a figure.">
                        <br>
                        <hr>
                        <h5 class="card-title">{{ prod.title }}</h5>
                        <hr>
                        <p class="card-text"><label class=""><i><u>Description:</u></i></label> {{ prod.body }}</p>
                        <div class="row">
                            <div class="col-1">
                                <form method="POST" action="{% url 'upvote' prod.id %}">
                                    {% csrf_token %}
                                    <button class="btn btn-outline-danger"><span class="oi oi-heart"></span>  {{ prod.votes }}</button>
                                    <input type="hidden">
                                </form>       
                            </div>
                            <div class="col-2">
                                <form method="POST" action="{% url 'details' prod.id %}">
                                    {% csrf_token %}
                                    <button class="btn btn-outline-info"><span class="oi oi-location"></span> See more details! </button>
                                    <input type="hidden">
                                </form>
                            </div>
                            <div class="col-2">
                                <a href="{{ prod.url }}" target="_blank" class="btn btn-outline-danger"><span class="oi oi-globe"></span> Visited me!</a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-2">
                                <p class="card-text"><small class="text-muted"><span class="oi oi-clock"></span> {{prod.pub_date}}</small></p>
                            </div>
                            <div class="col-2">
                                    <p class="card-text"><small class="text-muted"><span class="oi oi-person"></span> {{prod.hunter}}</small></p>
                            </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
