<!DOCTYPE html>
<head><title>H</title></head>
<body>
    <h1>Hello, world!dddd</h1>
        {% if user.is_authenticated %}
        <h1>Welcome {{ user.get_username }}</h1>
            <a href="javascript:{document.getElementById('logout').submit()}" onclick="">Logout</a>
            <form id="logout" method="POST" action="/logout">
                {% csrf_token %}
                <input type="hidden" />
            </form>
        {% else %}
            <a href="login">Login </a>
            <a href="signup">Signup</a>
        {% endif %}
</body>

    